.header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 1px 0 #c8e6c9;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
}
.header-title {
    font-size: 36px;
    font-weight: bold;
    color: #7fbf9a;
    font-family: "Palatino Linotype", Palatino, serif;
    margin: 0;
}

.site-header {
    background: #fff;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}

.site-header__inner {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-title {
    font-size: 22px;
    font-weight: 400;
    color: #7a6a5c;
    margin: 0;
}


